* {
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  width: 100%;
  box-shadow: 0 3px 6px black;
  position: relative;
}

.logo, .menu {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}

.menu {
  left: 90%;
}

nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo {
    position: static;
    transform: translate(0);
  }
  .menu {
    display: none;
  }
  nav {
    display: inline-block;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  nav ul li {
    display: inline;
  }
  nav ul li a {
    height: 70px;
    text-decoration: none;
    color: black;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo {
    position: static;
    transform: translate(0);
  }
  .menu {
    display: none;
  }
  nav {
    display: inline-block;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 65 px;
  }
  nav ul li {
    display: inline;
  }
  nav ul li a {
    height: 70px;
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: 700;
  }
}
.portada_contenido {
  text-align: center;
  width: 80%;
  margin: 7rem auto;
}
.portada_contenido h1 {
  margin-bottom: 20px;
}
.portada_contenido p {
  font-size: 16px;
  margin-bottom: 20px;
}
.portada_contenido button {
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
  padding: 20px 0;
  width: 310px;
  border-radius: 40px;
}

.portada_img {
  text-align: center;
  height: 20rem;
  width: 100%;
}

.portada_img--pequenia {
  width: 100%;
  background-image: url(../img/portada.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.portada_img--grande {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .portada_contenido {
    margin-bottom: 3rem;
  }
  .portada_contenido button {
    width: 440px;
  }
  .portada_img--pequenia {
    display: none;
  }
  .portada_img {
    height: 30rem;
    width: 100%;
  }
  .portada_img--grande {
    display: block;
    width: 100%;
    background-image: url(../img/img_escritorio.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 768px) {
  .portada_contenido {
    margin-bottom: 3rem;
  }
  .portada_contenido button {
    width: 440px;
  }
  .portada_img--pequenia {
    display: none;
  }
  .portada_img {
    height: 30rem;
    width: 100%;
  }
  .portada_img--grande {
    display: block;
    width: 100%;
    background-image: url(../img/img_escritorio.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.popu {
  text-align: center;
  width: 100%;
}

.popu__caja {
  position: relative;
}
.popu__caja p:first-of-type {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 6px;
  margin-bottom: 20px;
}
.popu__caja p:last-of-type {
  font-size: 17px;
  font-weight: 400;
  color: #A5A5A5;
  width: 80%;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
}

.popu__img {
  position: absolute;
}

.popu__img--ojo {
  top: 10px;
}

.rojo {
  width: 63px;
  height: 63px;
  background-color: #FB3B64;
  border-radius: 50%;
  margin: 3rem auto 0.6rem;
}

.azul {
  width: 63px;
  height: 63px;
  background-color: #08A6E4;
  border-radius: 50%;
  margin: 3rem auto 0.6rem;
}

.verde {
  width: 63px;
  height: 63px;
  background-color: #55DFB4;
  border-radius: 50%;
  margin: 3rem auto 0.6rem;
}

@media only screen and (min-width: 1200px) {
  .popu__caja img {
    top: 50px;
  }
  .popu__img--ojo {
    top: 60px !important;
  }
  .popularidad {
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin-top: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .popu__caja img {
    top: 50px;
  }
  .popu__img--ojo {
    top: 60px !important;
  }
  .popularidad {
    display: flex;
    justify-content: center;
    gap: 9rem;
    margin-top: 5rem;
  }
}
.cards {
  background-color: #F7F7F7;
  padding: 5rem 0;
}

.cards__ {
  width: 80%;
  background-color: white;
  margin: 0 auto;
}
.cards__ p {
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
}
.cards__ h3 {
  margin-top: 2rem;
  font-size: 30px;
  font-weight: 400;
  padding-left: 20px;
  width: 60%;
}

.cards__first--img,
.cards__shop--img,
.cards__brand--img {
  text-align: center;
  position: relative;
  padding-top: 15px;
}
.cards__first--img img,
.cards__shop--img img,
.cards__brand--img img {
  position: relative;
  z-index: 3;
}

.cards__brand--img {
  background-color: #55DFB4;
  padding-top: 0;
}
.cards__brand--img img {
  transform: translate(-5%, 15%);
}

.fondo-mack {
  width: 90px;
  height: 90px;
  border-radius: 41px;
  background-color: #FB3B64;
  transform: rotate(45deg);
  position: absolute;
  right: 4.9rem;
  top: 0;
}

.fondo-movil {
  width: 131px;
  height: 135px;
  border-radius: 50%;
  background-color: #08A6E4;
  position: absolute;
  right: 8.1rem;
  top: 8px;
}

.precios .basic {
  width: 80%;
  border: 1px solid #FB3B64;
  margin: 0 auto;
  border-radius: 16px;
  padding: 2rem 0;
}
.precios .basic .cantidad,
.precios .basic .propiedades {
  display: inline-block;
  margin: 0 2rem;
}
.precios .basic .cantidad {
  text-align: center;
  height: 100%;
}
.precios .basic .propiedades {
  margin-left: 2rem;
}
.precios .basic .propiedades li {
  margin-bottom: 15px;
  list-style-image: url(../img/Checkbox.png);
}

/*# sourceMappingURL=styles.css.map */
