* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-top: 12rem;
}

#backTop {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  right: 4rem;
  bottom: 10rem;
  border: 0;
  z-index: 99;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-top: 12rem;
}

#backTop {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  right: 4rem;
  bottom: 10rem;
  border: 0;
  z-index: 99;
}

header {
  position: fixed;
  top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  font-family: "OpenSansCondensed";
  z-index: 9;
  background-color: white;
  z-index: 9;
  background-color: white;
}
header .container {
  position: relative;
}
header .scroll {
  width: 100%;
  height: 0.5rem;
  display: block;
  z-index: 5;
  background-color: transparent;
}
header .scroll #percentage {
  position: relative;
  background-color: #08A6E4;
  width: 0%;
  height: 0.5rem;
}

.logo {
  padding: 1.8rem;
  font-weight: 300;
  font-size: 32px;
  color: #08A6E4;
  font-family: "Raleway";
}

#menu_movile {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}

#menu_movile {
  left: 90%;
}

#menu_movile {
  border: 0;
  background-color: white;
}

.nav_invisible {
  display: none;
}

.nav_visible {
  display: block;
}
.nav_visible ul {
  position: relative;
  background-color: white;
  padding: 0rem 2rem 1rem;
}
.nav_visible ul li {
  padding-top: 1rem;
  list-style: none;
}
.nav_visible ul li a {
  text-decoration: none;
  color: #A5A5A5;
  font-size: 11px;
  font-family: "Open Sans";
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .header__contain {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header__contain .logo {
    position: static;
    transform: translate(0);
  }
  .header__contain .menu {
    display: none;
  }
  .header__contain .nav_invisible {
    display: flex;
  }
  .header__contain .nav_invisible ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  .header__contain .nav_invisible ul li a {
    height: 70px;
    text-decoration: none;
    font-size: 11px;
    color: #A5A5A5;
  }
}

@media only screen and (min-width: 1200px) {
  .header__contain {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header__contain .logo {
    position: static;
    transform: translate(0);
  }
  .header__contain .menu {
    display: none;
  }
  .header__contain .nav_invisible ul {
    list-style: none;
    display: flex;
    gap: 65px;
    align-items: center;
  }
  .header__contain .nav_invisible ul li {
    display: block;
  }
  .header__contain .nav_invisible ul li a {
    display: inline-block;
    height: 70px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    line-height: 70px;
    color: #A5A5A5;
  }
  .header__contain .nav_invisible ul li a:hover {
    border-bottom: 3px solid #08A6E4;
    color: black;
  }
}
.cover__content {
  text-align: center;
  width: 80%;
  margin: 7rem auto;
}
.cover__content h1 {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 400;
}
.cover__content p {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 400;
}
.cover__content button {
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border: 0;
  padding: 20px 0;
  width: 310px;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 700;
}
.cover__img {
  text-align: center;
  height: 20rem;
  width: 100%;
}
.cover__img--small {
  width: 100%;
  background-image: url(../img/portada.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cover__img--big {
  display: none;
}
@media only screen and (min-width: 320px) {
  .cover__content {
    margin: 4rem auto 2rem;
  }
  .cover__content button {
    width: 200px;
  }
}
@media only screen and (min-width: 1200px) {
  .cover__content {
    margin-bottom: 3rem;
  }
  .cover__content button {
    width: 440px;
  }
  .cover__content h1 {
    font-size: 41px;
  }
  .cover__img--small {
    display: none;
  }
  .cover__img {
    height: 30rem;
    width: 100%;
  }
  .cover__img--big {
    display: block;
    width: 100%;
    background-image: url(../img/img_escritorio.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 768px) {
  .cover__content {
    margin-bottom: 3rem;
  }
  .cover__content button {
    width: 440px;
  }
  .cover__img--small {
    display: none;
  }
  .cover__img {
    height: 30rem;
    width: 100%;
  }
  .cover__img--big {
    display: block;
    width: 100%;
    background-image: url(../img/img_escritorio.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.popu {
  text-align: center;
  width: 100%;
  font-family: "Raleway";
  padding-bottom: 5rem;
}
.popu h2 {
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
}

.popu__caja {
  position: relative;
}
.popu__caja p:first-of-type {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 6px;
  margin-bottom: 20px;
  font-family: "Raleway";
}
.popu__caja p:last-of-type {
  font-size: 17px;
  font-weight: 400;
  color: #A5A5A5;
  width: 80%;
  margin: 0 auto;
  font-family: "Raleway";
}

.popu__img {
  position: absolute;
}

.popu__img--ojo {
  top: 10px;
}

.rojo {
  width: 63px;
  height: 63px;
  background-color: #FB3B64;
  border-radius: 50%;
  margin: 3rem auto 0.6rem;
}

.azul {
  width: 63px;
  height: 63px;
  background-color: #08A6E4;
  border-radius: 50%;
  margin: 3rem auto 0.6rem;
}

.verde {
  width: 63px;
  height: 63px;
  background-color: #55DFB4;
  border-radius: 50%;
  margin: 3rem auto 0.6rem;
}

@media only screen and (min-width: 1200px) {
  .popu__caja img {
    top: 50px;
  }
  .popu__img--ojo {
    top: 60px !important;
  }
  .popularidad {
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin-top: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .popu__caja img {
    top: 50px;
  }
  .popu__img--ojo {
    top: 60px !important;
  }
  .popularidad {
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-top: 5rem;
  }
}
.cards {
  background-color: #F7F7F7;
  padding: 1rem 0;
}
.cards .cards__ {
  width: 80%;
  background-color: white;
  margin: 5rem auto;
}
.cards .cards__ p {
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
  font-family: "Open Sans";
}
.cards .cards__ h3 {
  margin-top: 2rem;
  font-size: 30px;
  font-weight: 400;
  padding-left: 20px;
  width: 67%;
  font-family: "Raleway";
}
.cards .cards__ hr {
  display: none;
}
.cards .cards__ .invisible {
  color: white;
}
.cards .cards__ .grande {
  display: none;
}
.cards .cards__ .cards__first--img,
.cards .cards__ .cards__shop--img,
.cards .cards__ .cards__brand--img {
  text-align: center;
  position: relative;
  padding-top: 15px;
}
.cards .cards__ .cards__first--img img,
.cards .cards__ .cards__shop--img img,
.cards .cards__ .cards__brand--img img {
  position: relative;
  z-index: 3;
}
.cards .cards__ .cards__first--img .fondo-mack,
.cards .cards__ .cards__shop--img .fondo-mack,
.cards .cards__ .cards__brand--img .fondo-mack {
  width: 90px;
  height: 90px;
  border-radius: 41px;
  background-color: #FB3B64;
  transform: rotate(45deg);
  position: absolute;
  right: 4.9rem;
  top: 0;
}
.cards .cards__ .cards__first--img .fondo-movil,
.cards .cards__ .cards__shop--img .fondo-movil,
.cards .cards__ .cards__brand--img .fondo-movil {
  width: 131px;
  height: 135px;
  border-radius: 50%;
  background-color: #08A6E4;
  position: absolute;
  right: 9.1rem;
  top: 8px;
}
.cards .cards__ .cards__brand--img {
  background-color: #55DFB4;
  padding-top: 0;
}
.cards .cards__ .cards__brand--img img {
  transform: translate(-5%, 15%);
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .cards .cards__ .cards__first--img .fondo-mack,
  .cards .cards__ .cards__shop--img .fondo-mack,
  .cards .cards__ .cards__brand--img .fondo-mack {
    right: 1.5rem;
  }
  .cards .cards__ .cards__first--img .fondo-movil,
  .cards .cards__ .cards__shop--img .fondo-movil,
  .cards .cards__ .cards__brand--img .fondo-movil {
    right: 5.1rem;
  }
  .cards .cards__ hr {
    display: none;
  }
  .cards .cards__ .cards__brand--img img {
    width: 80%;
    height: 11rem;
  }
}
@media only screen and (min-width: 768px) {
  .cards {
    background-color: #F7F7F7;
  }
  .cards .cards__ {
    display: flex;
    border: 1px solid #E8E9ED;
  }
  .cards .cards__ .cards__first--img,
  .cards .cards__ .cards__shop--img,
  .cards .cards__ .cards__brand--img {
    width: 50%;
    padding: 5rem 0 2rem;
  }
  .cards .cards__ .cards__first--img .fondo-mack,
  .cards .cards__ .cards__shop--img .fondo-mack,
  .cards .cards__ .cards__brand--img .fondo-mack {
    right: 3rem;
    top: 3rem;
  }
  .cards .cards__ .cards__first--img .fondo-movil,
  .cards .cards__ .cards__shop--img .fondo-movil,
  .cards .cards__ .cards__brand--img .fondo-movil {
    left: 4rem;
    top: 4.5rem;
  }
  .cards .cards__ .cards__first--img .movil,
  .cards .cards__ .cards__shop--img .movil,
  .cards .cards__ .cards__brand--img .movil {
    margin-left: 2.5rem;
  }
  .cards .cards__ .cards__brand--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border: 1px solid #E8E9ED;
  }
  .cards .cards__tromp {
    background-color: #F7F7F7;
    border: 0;
  }
  .cards .cards__tromp .cards__cont {
    background-color: white;
    border: 1px solid #E8E9ED;
  }
  .cards .cards__primer {
    flex-direction: row-reverse;
  }
  .cards .cards__cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }
  .cards .cards__cont p {
    width: 70%;
  }
  .cards .cards__cont .hr-pc {
    width: 65%;
    margin-top: 2rem;
    height: 4px;
    background-color: #FB3B64;
    border: 0;
    margin-left: 20px;
    margin-top: 0;
  }
  .cards .cards__cont .hr-m {
    width: 65%;
    margin-top: 2rem;
    height: 4px;
    background-color: #08A6E4;
    border: 0;
    margin-left: 20px;
    margin-top: 0;
  }
  .cards .cards__cont .hr-t {
    width: 65%;
    margin-top: 2rem;
    height: 4px;
    background-color: #55DFB4;
    border: 0;
    margin-left: 20px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 980px) {
  .cards .cards__ .cards__first--img .fondo-mack,
  .cards .cards__ .cards__shop--img .fondo-mack,
  .cards .cards__ .cards__brand--img .fondo-mack {
    right: 5.5rem;
  }
  .cards .cards__ .cards__first--img .fondo-movil,
  .cards .cards__ .cards__shop--img .fondo-movil,
  .cards .cards__ .cards__brand--img .fondo-movil {
    left: 7rem;
  }
}
@media only screen and (min-width: 1200px) {
  .cards {
    background-color: #F7F7F7;
  }
  .cards .cards__ {
    display: flex;
    border: 1px solid #E8E9ED;
  }
  .cards .cards__ .pequenio {
    display: none;
  }
  .cards .cards__ .grande {
    display: block;
  }
  .cards .cards__ .cards__tromp {
    background-color: #F7F7F7;
    border: 0;
  }
  .cards .cards__ .cards__tromp .cards__cont {
    background-color: white;
    border: 1px solid #E8E9ED;
  }
  .cards .cards__ .cards__primer {
    flex-direction: row-reverse;
  }
  .cards .cards__ .cards__cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }
  .cards .cards__ .cards__cont p {
    width: 70%;
  }
  .cards .cards__ .cards__cont .hr-pc {
    width: 65%;
    margin-top: 2rem;
    height: 4px;
    background-color: #FB3B64;
    border: 0;
    margin-left: 20px;
  }
  .cards .cards__ .cards__cont .hr-m {
    width: 65%;
    margin-top: 2rem;
    height: 4px;
    background-color: #08A6E4;
    border: 0;
    margin-left: 20px;
  }
  .cards .cards__ .cards__cont .hr-t {
    width: 65%;
    margin-top: 2rem;
    height: 4px;
    background-color: #55DFB4;
    border: 0;
    margin-left: 20px;
  }
  .cards .cards__ .cards__first--img,
  .cards .cards__ .cards__shop--img,
  .cards .cards__ .cards__brand--img {
    width: 50%;
    padding: 5rem 0 2rem;
  }
  .cards .cards__ .cards__first--img .fondo-mack,
  .cards .cards__ .cards__shop--img .fondo-mack,
  .cards .cards__ .cards__brand--img .fondo-mack {
    width: 180px;
    height: 180px;
    top: 3rem;
  }
  .cards .cards__ .cards__first--img .fondo-movil,
  .cards .cards__ .cards__shop--img .fondo-movil,
  .cards .cards__ .cards__brand--img .fondo-movil {
    width: 320px;
    height: 320px;
    top: 4rem;
    left: 3rem;
  }
  .cards .cards__ .cards__first--img .movil,
  .cards .cards__ .cards__shop--img .movil,
  .cards .cards__ .cards__brand--img .movil {
    margin-left: 2.5rem;
  }
  .cards .cards__ .cards__brand--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    border: 1px solid #E8E9ED;
  }
}
.precios {
  padding: 2rem 0;
}
.precios #money {
  background-color: #08A6E4;
  color: #ffffff;
  border: 0;
  border-bottom: 2px solid #ffffff;
  width: 218px;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin: 2rem auto;
}
.precios #money {
  background-color: #08A6E4;
  color: #ffffff;
  border: 0;
  border-bottom: 2px solid #ffffff;
  width: 218px;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin: 2rem auto;
}
.precios .basic {
  width: 80%;
  border: 1px solid #FB3B64;
  margin: 5rem auto;
  border-radius: 16px;
  padding: 2rem 0;
  position: relative;
}
.precios .basic .cantidad {
  text-align: center;
  height: 100%;
}
.precios .basic .cantidad h4 {
  font-size: 20px;
  font-weight: 700;
}
.precios .basic .cantidad p:first-of-type {
  font-size: 46px;
  font-weight: 300;
  font-family: "Open Sans";
  color: #FB3B64;
}
.precios .basic .cantidad p {
  font-size: 14px;
  font-weight: 700;
  color: #13253B;
}
.precios .profesional {
  width: 80%;
  border: 1px solid #08A6E4;
  margin: 5rem auto;
  border-radius: 16px;
  padding: 2rem 0;
  position: relative;
}
.precios .profesional .cantidad {
  text-align: center;
  height: 100%;
}
.precios .profesional .cantidad h4 {
  font-size: 20px;
  font-weight: 700;
}
.precios .profesional .cantidad p:first-of-type {
  font-size: 46px;
  font-weight: 300;
  font-family: "Open Sans";
  color: #08A6E4;
}
.precios .profesional .cantidad p {
  font-size: 14px;
  font-weight: 700;
  color: #13253B;
}
.precios .premium {
  width: 80%;
  border: 1px solid #55DFB4;
  margin: 5rem auto;
  border-radius: 16px;
  padding: 2rem 0;
  position: relative;
}
.precios .premium .cantidad {
  text-align: center;
  height: 100%;
}
.precios .premium .cantidad h4 {
  font-size: 20px;
  font-weight: 700;
}
.precios .premium .cantidad p:first-of-type {
  font-size: 46px;
  font-weight: 300;
  font-family: "Open Sans";
  color: #55DFB4;
}
.precios .premium .cantidad p {
  font-size: 14px;
  font-weight: 700;
  color: #13253B;
}
.precios h2 {
  text-align: center;
  font-size: 36px;
  font-family: "Raleway";
  font-weight: 400;
}
.precios h4 {
  font-family: "Raleway";
  font-weight: 700;
}
.precios .cantidad,
.precios .propiedades {
  display: inline-block;
  margin: 0 2rem;
  width: 30%;
  vertical-align: middle;
}
.precios .cantidad p:last-of-type {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 12px;
}
.precios .propiedades {
  margin-left: 2rem;
}
.precios .propiedades li {
  margin-bottom: 15px;
  list-style-image: url(../img/Checkbox.png);
  font-family: "Open Sans";
  font-weight: 400;
}
.precios .propiedades .no-p {
  list-style-image: url(../img/Cross.png);
}
.precios .boton-basic {
  width: 150px;
  height: 50px;
  border-radius: 23px;
  background-color: #EB476E;
  border: 0;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
}
.precios .boton-prof {
  width: 150px;
  height: 50px;
  border-radius: 23px;
  background-color: #07ACE6;
  border: 0;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
}
.precios .boton-prem {
  width: 150px;
  height: 50px;
  border-radius: 23px;
  background-color: #55DFB4;
  border: 0;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
}

@media only screen and (min-width: 1200px) {
  .precios .precios__caja {
    display: flex;
  }
  .precios .precios__caja .cantidad,
  .precios .precios__caja .propiedades {
    display: block;
    margin: 0;
    width: 100%;
    vertical-align: auto;
    height: auto;
  }
  .precios .precios__caja .cantidad {
    width: 100%;
    margin-bottom: 6rem;
  }
  .precios .precios__caja .basic, .precios .precios__caja .profesional, .precios .precios__caja .premium {
    text-align: center;
    padding-bottom: 3rem;
    margin: 2rem;
  }
  .precios .precios__caja .profesional {
    transition: all 0.3s ease-in;
  }
  .precios .precios__caja .profesional:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.2901960784);
  }
  .precios .precios__caja .propiedades li {
    list-style-position: inside;
  }
}
@media only screen and (min-width: 768px) {
  .precios h2 {
    margin: 7rem 0 3rem;
  }
  .precios .precios__caja {
    display: flex;
  }
  .precios .precios__caja .cantidad {
    width: 100%;
    margin-bottom: 3rem;
  }
  .precios .precios__caja .basic, .precios .precios__caja .profesional, .precios .precios__caja .premium {
    text-align: center;
    padding-bottom: 3rem;
    margin: 2rem;
    transition: transform 0.3s linear;
  }
  .precios .precios__caja .basic .cantidad,
  .precios .precios__caja .basic .propiedades, .precios .precios__caja .profesional .cantidad,
  .precios .precios__caja .profesional .propiedades, .precios .precios__caja .premium .cantidad,
  .precios .precios__caja .premium .propiedades {
    display: block;
    margin: 0;
    width: 100%;
    vertical-align: auto;
    height: auto;
  }
  .precios .precios__caja .basic .propiedades, .precios .precios__caja .profesional .propiedades, .precios .precios__caja .premium .propiedades {
    margin-top: 3rem;
  }
  .precios .precios__caja .basic .propiedades ul li, .precios .precios__caja .profesional .propiedades ul li, .precios .precios__caja .premium .propiedades ul li {
    list-style-position: inside;
    width: auto;
  }
  .precios .precios__caja .basic:hover, .precios .precios__caja .profesional:hover, .precios .precios__caja .premium:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.2901960784);
  }
}
@media only screen and (min-width: 320px) {
  .precios .basic, .precios .profesional, .precios .premium {
    width: 85%;
  }
  .precios .basic .cantidad,
  .precios .basic .propiedades, .precios .profesional .cantidad,
  .precios .profesional .propiedades, .precios .premium .cantidad,
  .precios .premium .propiedades {
    margin: 0 1.4rem;
  }
  .precios .basic .cantidad ul li,
  .precios .basic .propiedades ul li, .precios .profesional .cantidad ul li,
  .precios .profesional .propiedades ul li, .precios .premium .cantidad ul li,
  .precios .premium .propiedades ul li {
    width: max-content;
  }
  .precios .basic .cantidad h4, .precios .profesional .cantidad h4, .precios .premium .cantidad h4 {
    font-size: 17px;
  }
}
.contact {
  padding: 2rem;
  font-family: "Open Sans";
  font-weight: 600;
}
.contact__info {
  margin-bottom: 3rem;
}
.contact__info h2 {
  font-size: 40px;
  font-family: "Raleway";
  font-weight: 400;
}
.contact__info p {
  font-size: 16px;
  font-weight: 400;
}
.contact__info .subtitulo {
  margin-bottom: 2rem;
}
.contact__info .iconos {
  font-weight: 600;
  color: #A5A5A5;
}
.contact__info .iconos p {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}
.contact__datos label {
  display: inline;
  margin-bottom: 1.5rem;
  color: #08A6E4;
  font-size: 11px;
}
.contact__datos #errorName, .contact__datos #errorEmail {
  color: red;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 11px;
  display: none;
  margin-left: 1rem;
}
.contact__datos .rellenar {
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: 1px solid #95989A;
  margin-bottom: 2rem;
}
.contact__datos .consent {
  height: 24px;
  width: 24px;
  background-color: white;
  appearance: none;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
}
.contact__datos .consent:checked {
  background-image: url(../img/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.contact__datos .check-consent {
  display: inline;
  vertical-align: top;
}
.contact__datos .label-consent {
  display: inline-block;
  width: 80%;
  padding-left: 1.5rem;
}
.contact__datos .label-consent label {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}
.contact__datos .enviar {
  width: 226px;
  height: 57px;
  border-radius: 35px;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border: 0;
  margin-top: 1.5rem;
  color: white;
  font-weight: 700;
}
.contact__datos .btn-contact {
  text-align: right;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contact__info h2 {
    font-size: 35px;
  }
  .contact .label-consent {
    padding-left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .contact {
    display: flex;
    justify-content: center;
    margin: 7rem;
    gap: 5rem;
  }
  .contact__info h2 {
    font-size: 49px;
  }
  .contact__info .info {
    display: flex;
  }
  .contact__info .info .iconos {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }
  .contact__datos {
    width: 40%;
    margin-left: 10rem;
  }
}
@media only screen and (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: center;
  }
  .contact__datos {
    width: 40%;
    margin-left: 4rem;
  }
}
footer {
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  padding: 0 2rem;
  background-color: #F7F7F7;
}
footer .copy {
  display: inline-block;
}
footer .copy h2 {
  font-size: 26px;
  color: #08A6E4;
  font-weight: 300;
  font-family: "Raleway";
}
footer .copy p {
  font-size: 11px;
  font-weight: 400;
  color: #A5A5A5;
  font-family: "OpenSansCondensed";
}
footer .copy {
  padding: 2rem 0;
}
footer .redes {
  display: inline-block;
  text-align: right;
  width: 55%;
}
footer .redes img {
  display: inline-block;
  padding-left: 1.5rem;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  footer {
    padding: 0 1rem;
  }
  footer .redes {
    width: 35%;
  }
  footer .redes img {
    padding-left: 0.8rem;
  }
}
@media only screen and (min-width: 1200px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
#popup {
  border: 1px solid #08A6E4;
  margin: 0 auto;
  width: 35%;
  text-align: center;
  padding: 3rem;
  border-radius: 2rem;
  position: fixed;
  top: 3rem;
  box-shadow: 3px 5px 8px rgba(8, 166, 228, 0.4), 0 6px 20px rgba(8, 166, 228, 0.3);
}
#popup #close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  border: 0;
  background-color: white;
}
#popup #sendpopup {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #08A6E4;
  color: white;
}
#popup p {
  font-size: 19px;
  font-weight: 700;
}
#popup input {
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: 1px solid #95989A;
  margin-top: 1.5rem;
}

#slider {
  position: relative;
  width: 100%;
  margin: 5rem auto;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
}
#slider #slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
#slider #slide .window {
  min-width: 100%;
  max-height: 20rem;
  text-align: center;
}
#slider #slide .window img {
  width: 100%;
  height: 20rem;
}
#slider #slide:last-child {
  border-right: none;
}
#slider #right,
#slider #left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  z-index: 4;
  background-color: transparent;
}
#slider #left {
  left: 10px;
}
#slider #right {
  right: 10px;
}
#slider .position {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#slider .circle-pos {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  display: inline-block;
  margin-left: 1rem;
  border: 4px solid #08A6E4;
}

@media only screen and (min-width: 768px) {
  #slider {
    width: 80%;
  }
  #slider #slide .window {
    max-height: 30rem;
  }
  #slider #slide .window img {
    width: 100%;
    height: 30rem;
  }
}

/*# sourceMappingURL=styles.css.map */
