@use 'variables';

.contact{
    padding: 2rem;
    font-family: 'Open Sans';
    font-weight: 600;
    
    &__info{
        margin-bottom: 3rem;
        h2{
            font-size: 40px;
            font-family: 'Raleway';
            font-weight: 400;
        }
        p{
            font-size: 16px;
            font-weight: 400;
        }
        .subtitulo{
            margin-bottom: 2rem;
        }
        .iconos{
            font-weight: 600;
            color: #A5A5A5;

            p{
                display: inline-block;
                vertical-align: middle;
                padding-left: 10px;
            }
        }
    }


    &__datos{
        label{
            display: inline;
            margin-bottom: 1.5rem; 
            color: variables.$color-principal;
            font-size: 11px;
        }

        #errorName, #errorEmail{
            color: red;
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 11px;
            display: none;
            margin-left: 1rem;
        }

        .rellenar{
            width: 100%;
            border: 0;
            outline: none;
            border-bottom: 1px solid #95989A;
            margin-bottom: 2rem;
        }

        .consent{
            height: 24px; 
            width: 24px;
            background-color: #FFFF;
            appearance: none; 
            border: 1px solid black;
            cursor: pointer;
            display: inline-block;
        }

        .consent:checked{
            background-image: url(../img/check.svg); 
            background-size: contain; 
            background-position: center;
            background-repeat: no-repeat;
        }


        .check-consent{
            display: inline;
            vertical-align: top;
        }

        .label-consent {
            display: inline-block;
            width: 80%;
            padding-left: 1.5rem;

            label{
                font-size: 14px;
                font-weight: 400;
                color: #707070;
            }
        }
        
        //boton de enviar
        .enviar{
            width: 226px;
            height: 57px;
            border-radius: 35px;
            background-color: variables.$color-principal;
            box-shadow: 5px 10px 14px 0px #07ACE64A;
            border: 0;
            margin-top: 1.5rem;
            color: #FFFF;
            font-weight: 700;
        }

        .btn-contact{
            text-align: right;
        }
    }
}


@media only screen and (min-width: 320px) and (max-width: 479px){
    .contact{
        &__info{
            h2{
                font-size: 35px;
            }
        }

            .label-consent{
                padding-left: 0;
                
            }
        
    } 

}

@media only screen and (min-width: 1200px) {
    .contact{
        display: flex;
        justify-content: center;
        margin: 7rem;
        gap: 5rem;
        &__info{
            h2{
                font-size: 49px;
            }
            .info{
                display: flex;

                .iconos{
                    display: flex;
                    align-items: center;
                    margin-right: 1.5rem;
                }
            }
        }

        &__datos{
            width: 40%;
            margin-left: 10rem;

        }
    }
}

@media only screen and (min-width: 768px) {
        .contact{
            display: flex;
            justify-content: center;

    
            &__datos{
                width: 40%;
                margin-left: 4rem;

            }
        }

}