@use 'variables';

.cover{
    //parte de texto de la portada
    &__content{
        text-align: center;
        width: 80%;
        margin: 7rem auto;

        h1{
            margin-bottom: 20px;
            font-family: 'Raleway';
            font-weight: 400    ;
        }
    
        p{
            font-size: 16px;
            margin-bottom: 20px;
            font-family: 'Open Sans';
            font-weight: 400;
        }
    
        button{
            background-color: variables.$color-principal;
            box-shadow: 5px 10px 14px 0px #07ACE64A;
            border: 0;
            padding: 20px 0;
            width: 310px;
            border-radius: 40px;
            color: white;
            font-size: 16px;
            font-family: 'Open Sans';
            font-weight: 700;
        }
    }

    //imagen de la portada
    &__img{
        text-align: center;
        height: 20rem;
        width: 100%;
    }

    &__img--small{
        width: 100%;
        background-image:url(../img/portada.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__img--big{
        display: none;
    }
    

    
    @media only screen and (min-width: 320px) {
        &__content{
            margin: 4rem auto 2rem; 
            button{
                width: 200px;
            }
        }
    }

    @media only screen and (min-width: 1200px) {

        &__content {
            margin-bottom: 3rem;
            button{
                width: 440px;

            }
            h1{
                font-size: 41px;
            }
        }

        &__img--small{
            display: none;
        }


        &__img{
            height: 30rem;
            width: 100%;
        }

        &__img--big{
            display: block;
            width: 100%;
            background-image:url(../img/img_escritorio.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    @media only screen and (min-width: 768px) {

        &__content {
            margin-bottom: 3rem;
            button{
                width: 440px;
            }
        }

        &__img--small{
            display: none;
        }


        &__img{
            height: 30rem;
            width: 100%;
        }

        &__img--big{
            display: block;
            width: 100%;
            background-image:url(../img/img_escritorio.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

}

