@use 'variables';

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

main{
    margin-top: 12rem;
}

#backTop{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    right: 4rem;
    bottom: 10rem;
    border: 0;
}

@mixin circulo($fondo: variables.$rosa){
    width: 63px;
    height: 63px;
    background-color: $fondo;
    border-radius: 50%;
    margin: 3rem auto 0.6rem;
}


@mixin precio($cborde: variables.$rosa){
    width: 80%;
    border: 1px solid $cborde;
    margin: 5rem auto;
    border-radius: 16px;
    padding: 2rem 0;
    position: relative;

    .cantidad{
        text-align: center;
        height: 100%;

        h4{
            font-size: 20px;
            font-weight: 700;
        }

        p:first-of-type{
            font-size: 46px;
            font-weight: 300;
            color: $cborde;
        }

        p{
            font-size: 14px;
            font-weight: 700;
            color: #13253B;
        }
    }
}

@mixin boton($cboton: #EB476E){
    width: 150px;   
    height: 50px;
    border-radius: 23px;
    background-color: $cboton;
    border: 0;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #FFFF;
}

@mixin linea($clinea: variables.$rosa){
    width: 65%;
    margin-top: 2rem;
    height: 4px;
    background-color: $clinea;
    border: 0;
    margin-left: 20px;    
}