@use 'mixin';
@use 'variables';

.precios {
    padding: 2rem 0;
    
    .basic {
        @include mixin.precio;
    }

    .profesional{
        @include mixin.precio($cborde: variables.$color-principal)
    }

    .premium{
        @include mixin.precio($cborde: variables.$verde)
    }

    h2{
        text-align: center;
        font-size: 36px;
        font-family: variables.$raleway;
    }

    h4{
        font-family: variables.$raleway;
    }

    .cantidad,
    .propiedades {
        display: inline-block; 
        margin: 0 2rem;
        width: 30%;
        vertical-align: middle;
        font-family: variables.$opensans;
    }

    .cantidad p:last-of-type{
        font-family: variables.$raleway;
    }

    .propiedades {
        margin-left: 2rem;
            
        li {
            margin-bottom: 15px; 
            list-style-image: url(../img/Checkbox.png);
        }

        .no-p{
            list-style-image: url(../img/Cross.png);
        }
    }

    .boton-basic{
        @include mixin.boton;
    }

    .boton-prof{
        @include mixin.boton($cboton: #07ACE6);
    }

    .boton-prem{
        @include mixin.boton($cboton: #55DFB4);
    }
}


@media only screen and (min-width: 1200px) {

    .precios {
        .precios__caja{
            display: flex;
            .cantidad,
            .propiedades {
                display: block;
                margin: 0;
                width: 100%;
                vertical-align: auto;
                height: auto;
            }

            .cantidad{
                width: 100%;
                margin-bottom: 6rem;
            }
            .basic, .profesional, .premium{
                text-align: center;
                padding-bottom: 3rem;
                margin: 2rem;
            }

            .profesional{
                transition: all 0.3s ease-in;
            }

            .profesional:hover{
                transform: scale(1.1);
                box-shadow: 5px 10px 27px 0px #07ACE64A;
            }

            .propiedades {                
                li {
                    list-style-position: inside;   
                }
            
            }
        }
    }
}


//Responsive para tablet 
@media only screen and (min-width: 768px) {

    .precios {
        h2{
            margin: 7rem 0 3rem;
        }
        .precios__caja{
            display: flex;

            

            .cantidad{
                width: 100%;
                margin-bottom: 3rem;
            }
            .basic, .profesional, .premium{
                text-align: center;
                padding-bottom: 3rem;
                margin: 2rem;

                .cantidad,
                .propiedades {
                    display: block;
                    margin: 0;
                    width: 100%;
                    vertical-align: auto;
                    height: auto;
                }

                .propiedades {    
                    margin-top: 3rem;            
                    ul li {
                        list-style-position: inside;
                        width: auto;   
                    }
                
                }
            }

            .profesional{
                transition: all 1s linear;
            }

            .profesional:hover{
                transform: scale(1.1);
                box-shadow: 5px 10px 27px 0px #07ACE64A;
            }

            
        }
    }
}


//Responsive para moviles pequeños 
@media only screen and (min-width: 320px) {

    .precios{
        .basic, .profesional, .premium{
            width: 85%;
            .cantidad,
            .propiedades {
                margin: 0 1.4rem;
                ul li{
                    width: max-content;
                }
            }

            .cantidad {
                h4{
                    font-size: 17px ;
                }
            }
        }
    }
}